<ion-view title="Create New Store" id="page18">
    <ion-content padding="true" class="has-header">
        <div id="createNewStore-container9" class="top-image-box">
            <div>
                <img src="img/HqacYlfBSRSOooiw2Ert_no-image-icon-13.png"
                     style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"
                     ng-src="{{store.photo}}">
            </div>
            <div id="createNewStore-container10" class="control-box">
                <div class="spacer" style="width: 300px; height: 76px;"></div>
                <button id="createNewStore-button28"
                        class="button button-dark  button-clear icon ion-android-camera photo-icon-button" ng-click="addPhoto()"></button>
            </div>
        </div>
        <div class="list card" id="createNewStore-card212">
            <form id="createNewStore-form19" class="list">
                <label class="item item-input" id="createNewStore-input12">
                    <span class="input-label">Name:</span>
                    <input type="text" placeholder="Store Name" ng-model="store.name">
                </label>
                <label class="item item-input" id="createNewStore-input27">
                    <span class="input-label">Phone #</span>
                    <input type="text" placeholder="(XXX) XXX-XXXX" ui-mask="(999) 999-9999" ng-model="store.phone">
                </label>
                <label class="item item-input" id="createNewStore-input23">
                    <span class="input-label">Address:</span>
                    <input type="text" placeholder="777 Heaven Way" ng-model="store.address">
                </label>
                <label class="item item-input" id="createNewStore-input24">
                    <span class="input-label">City:</span>
                    <input type="text" placeholder="CIty" ng-model="store.city">
                </label>
                <label class="item item-input" id="createNewStore-input25">
                    <span class="input-label">State:</span>
                    <input type="text" placeholder="State" ng-model="store.state">
                </label>
                <label class="item item-input" id="createNewStore-input26">
                    <span class="input-label">Zip:</span>
                    <input type="text" placeholder="XXXXX" ng-model="store.zip">
                </label>
                <div class="spacer" style="width: 300px; height: 16px;"></div>
            </form>
            <ion-list>
                <ion-toggle toggle-class="toggle-positive" id="createNewStore-toggle15" ng-model="showEmployees">
                    Employees
                </ion-toggle>
                <ion-item class="item-avatar item-icon-right" id="createNewStore-list-item32"
                          ng-repeat="item in employees" ng-show="showEmployees">
                    <img src="img/TRjIh5RTXOIXnGdRizDg_images.png">
                    <h2>{{item.name}}</h2>
                    <p>{{item.email}}</p>
                    <i class="icon ion-ios-telephone"></i>
                    <ion-option-button class="button-assertive" ng-click="removeItem($index)">Delete</ion-option-button>
                </ion-item>
                <div id="createNewStore-button-bar24" ng-show="showEmployees" class="button-bar">
                    <button id="createNewStore-button20"
                            class="button button-dark  button-block icon-left ion-android-settings">Edit
                    </button>
                    <a ui-sref="menu.employees" id="createNewStore-button26"
                       class="button button-positive  button-block icon-right ion-android-add-circle">Add </a>
                </div>
                <div class="spacer" style="width: 300px; height: 30px;"></div>
                <button id="createNewStore-button33" ng-click="addNew()" class="button button-positive  button-block">
                    Save
                </button>
            </ion-list>
        </div>
    </ion-content>
</ion-view>