<ion-view title="Store List" id="page8">
    <ion-nav-bar class="bar-energized">
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button" ui-sref="menu.createNewStore">
                Add New
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="list card" id="settings-card21">
            <ion-item class="item-avatar" id="settings-list-item9" ng-repeat="item in stores"
                      ng-click="viewStore(item)">
                <img src="{{item.photo}}">
                <h2>{{item.name}}</h2>
                <p>{{item.address}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>