<ion-view title="Top Manufacturers" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="topManufacturers-slider4" style="width:100%;height:200px;">
      <ion-slide-page id="topManufacturers-slide210" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="topManufacturers-slide29" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="topManufacturers-slide212" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="topManufacturers-slide211" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="list card" id="topManufacturers-card22">
      <ion-item class="item-avatar" id="topManufacturers-list-item14">
        <h2>Manufacturer</h2>
        <p>Location- | (XXX) XXX-XXXX</p>
      </ion-item>
      <div class="item item-body" id="topManufacturers-list-item-container4">
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider5" delegate-handle="slider5" id="topManufacturers-slider5" style="width:100%;height:200px;">
          <ion-slide-page id="topManufacturers-slide216" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="topManufacturers-slide217" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
          <ion-slide-page id="topManufacturers-slide218" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        </ion-slides>
        <form id="topManufacturers-form13" class="list">
          <label class="item item-select" id="topManufacturers-select5">
            <span class="input-label">Product List</span>
            <select></select>
          </label>
        </form>
      </div>
    </div>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>